body{background-color: #b6d7a8;}

.content {
  margin:auto;
  padding: 10px;
  overflow: hidden;
}

.header {
  text-align: center;
}

h1 {
  font-family: 'Amatic SC', serif;
  font-size: 60px;
}

.ingredients {
  background: #c4dfb9;
  padding: 20px;
}

.food {
  display: flex;
  flex-direction: row;
}

.recipes {
  display: inline-block;
  float: left;
  width: 1300px;
  background: #d3e7ca;
  padding: 20px;
}

.selection {
  display: inline-block;
  float: left;
  flex-grow: 1;
  background: #e9f3e4;
  padding: 20px;
}

    /* Dropdown Button */
.dropbtn {
  background-color: #4e704e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #4e754e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.searchbar {
  float: right;
  padding: 20px;
}